

.model-3{
  font-size: 36px;
  text-align: center;
  font-weight:bolder;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.touchless-delivery{
  text-decoration: underline;
  font-weight: lighter;
  transition: color 0.25s, cursor 0.19s;
}

.button{
  background-color: cyan;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  margin-left: 200px;
  border-style: solid;
  border-color: black;
}
.touchless-delivery:hover{
  cursor: pointer;
  color: blue;

}
